* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style: none;
}

#container {
    border: 1px solid rgba(224, 224, 224, 0.8);
    box-shadow: 0 0 10px #cccccc;
    height: auto;
    margin: 40px auto;
    min-height: 600px;
    width: 90%;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.8);
}

.logo {
    flex-grow: 1;
    flex-basis: 49%;
    padding: 10px;
    margin: 0 0 0 20px;
    color: black;
    text-shadow: 1px 1px 0 #cccccc;
    text-transform: uppercase;
    font-family: Helvetica;
    font-style: italic;
    font-size: 35px;
}

.logo h1 {
    font-family: Helvetica;
    font-style: italic;
    font-size: 35px;
}

#menu {
    flex-grow: 1;
    flex-basis: 30%;
    height: 100%;
    padding: 0 20px;
}

#menu > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#menu a {
    color: #444444;
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.3s;
}

#menu a:hover {
    background: #cccccc;
    color: white;
}

#content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 80%;
    margin: 0 20px 0 0;
}

.project {
    margin: 0 20px 25px 0;
    border: 1px solid #cccccc;
    flex-basis: 250px;
    flex-grow: 1;
}

.project img {
    width: 100%;
}

.project-info {
    padding: 10px;
}

.project-info a {
    font-size: 16px;
    color: black;
    transition: all .3s;
}

.project-info a:hover {
    color: gray;
}

.project-info p {
    font-size: 16px;
    color: gray;
    padding: 5px 0 0 0;
}

#aside {
    display: flex;
    flex-basis: 15%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 30px 0 0;
    padding: 15px;
}

#aside h2 {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: #444444;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(224, 224, 224, 0.8);
    text-align: center;
}

#aside ul li {
    padding: 0 0 20px 0;
}

#aside a {
    display: block;
    text-align: center;
    padding: 20px;
    background: #eeeeee;
    color: #444444;
    transition: all .3s;
    text-transform: uppercase;
}

#aside a:hover {
    background: #444444;
    color: #eeeeee;
}

#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 120px;
    align-items: center;
    border-top: 1px solid rgba(224, 224, 224, 0.8);
}

#footer .logo {
    opacity: 0.5;
    flex-basis: auto;
    flex-grow: 1;
}

#footer .info {
    flex-grow: 1;
    text-align: right;
    margin: 0 30px 0 0;
    color: #444444;
}